.navbar {
    background: indigo;
    height: 150px;
    border-bottom: 10px solid goldenrod;
    border-top: 10px solid goldenrod;
    color: Snow;
}

.searchBtn{ 
    background-color: goldenrod;
    height: 40px;
    border-radius: 10px;
    color:darkslateblue;
}

#defaultCheck1 {
    top: .5rem;
    left: 0rem;
    width: 1.25rem;
    height: 1.25rem;
}